body {
  background: #222222;
  font-family: 'Gaegu', cursive;
  width: 100%;
}

.titulo {
  align-items: center;
  background: url('../img/background.jpg');
  background-size: cover;
  display: flex;
  height: 5rem;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;
}  

.titulo__img {
  height: 100%;
}

.titulo__titulo {
  color: #000;
  font-size: 44px;
  padding-top: .5rem;
}


.main__content {
  background: #222222;
  text-align: center;
}

.area-inicial {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  margin: 32px 0;
}

.bnt {
  background: url(../img/background.jpg);
  border-radius: 2rem;
  color: #000;
  height: 8rem;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
}

.bnt:hover {
  cursor: pointer;
}

.nova-palavra {
  font-size: 24px;
  text-transform: uppercase;
  width: 50vw;
}

.adicionar-palavra {
  background: url(../img/background.jpg);
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  height: 2rem;
  margin-top: .5rem;
  text-transform: uppercase;
}

.adicionar-palavra:hover {
  cursor: pointer;
}

.form-nWord {
  display: flex;
  flex-direction: column;
}

.area-jogo {
  width: 100%;
}

.apagar {
  display: none;
}

.dados-dev {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: .5rem;
}

.tabela-dados {
  display: flex;
  flex-direction: row;
  padding: .5rem;
}

.tabela-dados li {
  font-size: 20px;
}
.github {
  margin-left: .5rem;
  position: relative;
  bottom: 5px;
}


#bntReiniciar {
  background-color: red;
  border-radius: 50%;
  color: black;
  left: 60%;
  height: 180px;
  font-family: 'Gaegu', cursive;
  font-size: 30px;
  font-weight: 800;
  position: fixed;
  top: 58%;
  width: 180px;
}

#forca {
  width: 100%;
  height: calc(100vh - 6rem);
  min-height: 500px;
}